{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
    <div>
    <script type="text/javascript" src="/static/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/echarts.min.js"></script>
        <label><h1>产品技术部 本周工作汇报</h1></label>

        </br>{{ this_week_start }} ～ {{ this_week_end }}
        <h2>一、本周工作汇总</h2>
        {% for zone in zone_logs.values %}
        <h3>{{ zone.num }}、{{ zone.name }}</h3>
            <ul>
            {% for person_work_list in zone.works.values %}
                <br/><span style="font-weight: bold">{{ person_work_list.0.user_name }}</span>
                <table class="table" style="width: 95%">
                <thead>
                    <tr><th style="width: 10%">工作性质</th><th style="width: 40%">工作内容</th><th style="width: 8%">状态</th><th style="width: 10%">用时</th><th style="width: 22%">开始结束时间</th></tr>
                </thead>
                <tbody>
                {% for person_work in person_work_list %}
                    <!--<li>【{{ person_work.nature_name }}】{{ person_work.title }}</li>-->
                        <tr>
                            <td>
                            {% if person_work.nature_id == 1 %}
                                <span style="color:#03a665">【{{ person_work.nature_name }}】</span>
                            {% elif person_work.nature_id == 2 %}
                                <span style="color:#047dd9">【{{ person_work.nature_name }}】</span>
                            {% else %}
                                <span style="color:#e67505">【{{ person_work.nature_name }}】</span>
                            {% endif %} 
                            </td>
                            <td>{{ person_work.title }}</td>
                            <td>
                            {% if person_work.status == "完成" %}
                                <span style="color:#419e02; font-weight: bold">{{ person_work.status }}</span>
                            {% else %}
                                <span style="color:#e01507; font-weight: bold">{{ person_work.status }}</span>
                            {% endif %}
                            </td>
                            <td> {{ person_work.duration }} </td>
                            <td>{{ person_work.start_time }} ~ {{ person_work.end_time }}</td>
                        </tr>
                {% endfor %}
                </tbody>
                </table>
                <br/>
            {% endfor %}
            </ul>
        {% endfor %}

        <br/>
        <h2>二、下周工作计划</h2>
        <table class="table" style="width: 95%">
            <thead>
                <!--<tr><th>姓名</th><th>计划工作项数量</th><th>计划内容</th></tr>-->
                <tr><th>姓名/计划项数量</th><th>工作性质</th><th>工作内容</th><th>工作归属</th><th style="width:25%">预计开始结束时间</th></tr>
            </thead>
            <tbody>
                {% for work_plan in work_plans.values %}
                    <tr>
                    {% if work_plan.plan_list|length > 0 %}
                        <td rowspan="{{ work_plan.plan_list|length }}" style="vertical-align: middle;font-weight: bold;">{{ work_plan.user_name }} / {{ work_plan.plan_list|length }}</td>
{#                        <td rowspan="{{ work_plan.plan_list|length }}" style="vertical-align: middle;">{{ work_plan.plan_list|length }}</td>#}
                    {% else %}
                        <td><span style="vertical-align: middle;font-weight: bold">{{ work_plan.user_name }} / 0</span></td>
                    {% endif %}
                    {% if work_plan.plan_list|length > 0 %}
                    {% for plan in work_plan.plan_list %}
                        <td>【{{ plan.nature }}工作】</td>
                        <td>{{ plan.title }}</td>
                        <td>{{ plan.zone }}</td>
                        <td>{{ plan.expected_start_time }} ～ {{ plan.expected_end_time }}</td></tr>
                    {% endfor %}
                    {% else %}
                        <td colspan="4" style="color:#fc4903">没有下周计划</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <div>
        <a href="/kanban/kanban/work_report_pdf">下载工作周报</a><br/><br/><br/><br/><br/><br/>
        <a href="/kanban/kanban/work_report_preview" target="_blank" style="color: #fff;">预览工作周报</a>
    </div>
{% endblock %}