<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>工作汇报</title>
    <style>
        div { font-family: STSong-Light }
        table {border-collapse: collapse; border:1px solid #666;}
        td, th {color:#555; font-size: 1em;line-height: 1em;border: 1px solid #666;vertical-align: middle;padding: 4px;}
        th {font-weight: 600;text-align: left;}
        thead th, tfoot td{color: #333;padding: 2px 5px;font-size: 1.1em;background: #fff;border: 1px solid #666;}
    </style>
    <script type="text/javascript" src="{% static 'lib/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/echarts.min.js' %}"></script>
</head>
<body>

{% block content %}
    <div>
        <label style="font-weight: bold">
            <h1 style="text-align: center;">产品技术部 本周工作汇报</h1>
            <div style="text-align: center;">{{ this_week_start }} ～ {{ this_week_end }}</div>
        </label>
{#        <div id="work_count_data" style="float: left; width:100%; height:400px; margin: auto;"></div>#}
        <h2>〇、本周工作统计</h2>
        <div style="float: left; width:100%; height:381px; margin: auto;">
            <img src="/static/tmp/bar1.png" width="906px" height="375px"/>
        </div>
        <div style="float: left; width:100%; height:393px; margin: auto;">
            <img src="/static/tmp/pie1.png" width="984px" height="387px"/>
        </div>
        <h2>一、本周工作汇总</h2>
        {% for zone in zone_logs.values %}
        <h3>{{ zone.num }}、{{ zone.name }}</h3>
{#            <ul>#}
            {% for person_work_list in zone.works.values %}
                <span style="font-weight: bold;font-size: 1.1em">· {{ person_work_list.0.user_name }}</span>
                <table class="table" style="width: 95%">
                <thead>
                    <tr><th style="width: 14%">工作性质</th><th style="width: 36%">工作内容</th><th style="width: 8%">状态</th><th style="width: 10%">用时</th><th style="width: 32%">起止时间</th></tr>
                </thead>
                <tbody>
                {% for person_work in person_work_list %}
                        <tr>
                            <td>
                            {% if person_work.nature_id == 1 %}
                                <span style="color:#03a665">【{{ person_work.nature_name }}】</span>
                            {% elif person_work.nature_id == 2 %}
                                <span style="color:#047dd9">【{{ person_work.nature_name }}】</span>
                            {% else %}
                                <span style="color:#e67505">【{{ person_work.nature_name }}】</span>
                            {% endif %}
                            </td>
                            <td>{{ person_work.title }}</td>
                            <td>
                            {% if person_work.status == "完成" %}
                                <span style="color:#419e02; font-weight: bold">{{ person_work.status }}</span>
                            {% else %}
                                <span style="color:#e01507; font-weight: bold">{{ person_work.status }}</span>
                            {% endif %}
                            </td>
                            <td> {{ person_work.duration }} </td>
                            <td>{{ person_work.start_time }} ~ {{ person_work.end_time }}</td>
                        </tr>
                {% endfor %}
                </tbody>
                </table>
                <br/>
            {% endfor %}
{#            </ul>#}
        {% endfor %}
        <br/>
        <h2>二、下周工作计划</h2>
        <table class="table" style="width: 95%">
            <thead>
                <tr><th style="width: 18%">姓名/计划项数</th><th style="width: 10%">工作性质</th><th style="width: 38%">工作内容</th><th style="width: 17%">工作归属</th><th style="width: 17%">预计起止时间</th></tr>
            </thead>
            <tbody>
                {% for work_plan in work_plans.values %}
                    <tr>
                    {% if work_plan.plan_list|length > 0 %}
                        <td rowspan="{{ work_plan.plan_list|length }}" style="vertical-align: middle;font-weight: bold;">{{ work_plan.user_name }} / {{ work_plan.plan_list|length }}</td>
                    {% else %}
                        <td><span style="vertical-align: middle;font-weight: bold">{{ work_plan.user_name }} / 0</span></td>
                    {% endif %}
                    {% if work_plan.plan_list|length > 0 %}
                    {% for plan in work_plan.plan_list %}
                        <td>{{ plan.nature }}</td>
                        <td>{{ plan.title }}</td>
                        <td>{{ plan.zone }}</td>
                        <td>{{ plan.expected_start_time }} ～ {{ plan.expected_end_time }}</td></tr>
                    {% endfor %}
                    {% else %}
                        <td colspan="4" style="color:#fc4903">没有下周计划</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{#    <script>#}
{#        let chart1 = echarts.init(document.getElementById('work_count_data'), 'white', {renderer: 'svg'});#}
{#        chart1.setOption({{ work_count_data | safe }});#}
{#    </script>#}
{% endblock %}
</body>
</html>